[Desktop Entry]
Name=Text Wrench
Exec=text-wrench %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.broken-d.TextWrench
Categories=COSMIC;Utility;
Keywords=Text;Convert;Conversion;
MimeType=inode/directory;
